.responsive {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: auto auto;
  background-color: black;
}

